<h1>Slack Private Group Duplicator</h1>
<form method="POST">
  <label for="token">Your API token</label>
  <input type="text" name="token" autofocus />

  <label for="copyfrom">Group to copy from</label>
  <input type="text" name="copyfrom" />

  <label for="copyto">Name of the new group</label>
  <input type="text" name="copyto" />

  <button type="submit">Create Private Group</button>
</form>
