doctype html
html(lang="en", ng-app="GroupDup")
  head
    meta(charset="utf-8")
    title Slack Private Group Duplicator
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    block content
