body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  box-sizing border-box
a
  color: #00B7FF
label
  display block
  font-weight bold
input
  display block
  margin-bottom 10px
  width 15%
input[type=submit]
  width 10%
  margin-left 5%
